.navbar {
  font-family: 'Lobster', cursive;
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navbar-logo {
  display: block;
  justify-content: space-between;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav {
  float: right;
}

nav .nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
}

nav .nav-menu .menu-item {
 list-style: none;
}

nav .nav-menu .menu-item .nav-links {
  color: var(--secondary);
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
}

nav .nav-menu .menu-item .nav-links:hover,
nav .nav-menu .menu-item .nav-links.active {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav .nav-menu .menu-item .nav-links-flag {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.menu-toggle {
  display: none;
}

@media (max-width: 1200px) {
  .navbar {
    margin: 20px;
  }
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    top: 50%;
    text-align: center;
    cursor: pointer;
  }

  nav {
    width: 100%;
  }

  nav .nav-menu {
      display: none;
  }  

  nav .nav-menu.active {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
  }

  nav .nav-menu.active .menu-item {
    text-align: center;
  }

  nav .nav-menu.active .menu-item:hover {
    background-color: var(--secondary);
    transition: all 0.2s ease;
    border-radius: 5px;
  }

}